<astro>
  <script>
    const API_KEY = '137c6b7d8699b66c26438be31c68ada7';
    const MOVIE_ID = '12345';

    async function fetchMovieDetails() {
      const response = await fetch(`https://api.themoviedb.org/3/movie/${MOVIE_ID}?api_key=${API_KEY}`);
      const data = await response.json();
      return data;
    }

    export default {
      async load() {
        const movieDetails = await fetchMovieDetails();
        console.log(movieDetails);
      }
    }
  </script>

  <h1>Movie Details</h1>
  <p>Check the console for movie details.</p>
</astro>
