---
import Layout from "../layouts/Layout.astro";
import HeroScarboroughE   from "../components/scarborough/HeroScarboroughE.astro";
import ContactForm from "../components/ContactForm.astro";
import FaqSection from "../components/home/FaqSection.astro";
import DiscountSection from "../components/home/DiscountSection.astro";
import CallNow from "../components/CallNow.astro";
---

<Layout title="Eavestrough Cleanining Scarborough"  description = "Looking for a professional window cleaning or eavestrough cleaning service in Scarborough? Call us at 416-464-5542.">
  <main>
    <HeroScarboroughE />
    <CallNow />
    <ContactForm />
    <FaqSection />
    <DiscountSection />
  </main>
</Layout>
