---
import Layout from "../layouts/Layout.astro";
import HeroMarkhamW from "../components/markham/HeroMarkhamW.astro";
import ContactForm from "../components/ContactForm.astro";
import FaqSection from "../components/home/FaqSection.astro";
import DiscountSection from "../components/home/DiscountSection.astro";
import CallNow from "../components/CallNow.astro";
---

---

<Layout
  title="Markham Window Cleaning"
  description="Looking for a Professional Window Cleaning or Eavestrough Cleaning Service in Markham? Call us The Professionals at 416-464-5542."
>
  <main>
    <HeroMarkhamW />
    <CallNow />
    <ContactForm />
    <FaqSection />
    <DiscountSection />
  </main>
</Layout>
