---
import Layout from "../layouts/Layout.astro";
import HeroMississaugaW from "../components/mississauga/HeroMississaugaW.astro";
import ContactForm from "../components/ContactForm.astro";
import FaqSection from "../components/home/FaqSection.astro";
import DiscountSection from "../components/home/DiscountSection.astro";
import CallNow from "../components/CallNow.astro";
---

---

<Layout
  title="Mississauga Window Cleaning"
  description="Looking for a Professional Window Cleaning or Eavestrough Cleaning Service in Mississauga? Call us The Professionals at 416-464-5542."
>
  <main>
    <HeroMississaugaW />
    <CallNow />
    <ContactForm />
    <FaqSection />
    <DiscountSection />
  </main>
</Layout>
