---
// Astro will bundle and optimize this CSS for you automatically
// This also works for preprocessor files like .scss, .styl, etc.
import "../styles/style.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Creative Section Shapes</title>
  </head>
  <body>
    <header>
      <h1 class="site-title">Creative Section Shapes</h1>
    </header>

    <section>
      <div class="wrapper">
        <h2 class="section-title">Diagonal</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
          soluta cupiditate ut! Explicabo voluptas beatae minus iste accusantium
          iure molestiae quibusdam possimus dolorum? Nisi, voluptatibus a
          corporis laborum asperiores esse.
        </p>
      </div>
    </section>

    <section class="diagonal">
      <div class="wrapper">
        <h2 class="section-title"></h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
          soluta cupiditate ut! Explicabo voluptas beatae minus iste accusantium
          iure molestiae quibusdam possimus dolorum? Nisi, voluptatibus a
          corporis laborum asperiores esse.
        </p>
      </div>
    </section>

    <section>
      <div class="wrapper">
        <h2 class="section-title"></h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
          soluta cupiditate ut! Explicabo voluptas beatae minus iste accusantium
          iure molestiae quibusdam possimus dolorum? Nisi, voluptatibus a
          corporis laborum asperiores esse.
        </p>
      </div>
    </section>

    <section>
      <div class="wrapper">
        <h2 class="section-title"></h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
          soluta cupiditate ut! Explicabo voluptas beatae minus iste accusantium
          iure molestiae quibusdam possimus dolorum? Nisi, voluptatibus a
          corporis laborum asperiores esse.
        </p>
      </div>
    </section>

    <section>
      <div class="wrapper">
        <h2 class="section-title"></h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
          soluta cupiditate ut! Explicabo voluptas beatae minus iste accusantium
          iure molestiae quibusdam possimus dolorum? Nisi, voluptatibus a
          corporis laborum asperiores esse.
        </p>
      </div>
    </section>

    <section>
      <div class="wrapper">
        <h2 class="section-title"></h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
          soluta cupiditate ut! Explicabo voluptas beatae minus iste accusantium
          iure molestiae quibusdam possimus dolorum? Nisi, voluptatibus a
          corporis laborum asperiores esse.
        </p>
      </div>
    </section>
  </body>
</html>
