<div class="flex-grow">
  <div class="container p-6 mx-auto">
    <!-- Section: Design Block -->
    <section class="mb-32 text-gray-800 text-center lg:text-left">
      <div class="px-6 py-12 md:px-12">
        <div class="grid lg:grid-cols-2 lg:gap-x-12 items-center">
          <div class="mb-12 lg:mb-0">
            <div
              class="block rounded-lg shadow-lg bg-white px-6 py-12 md:px-12"
            >
              <h2 class="my-12 text-5xl font-bold tracking-tight leading-tight">
                Are you ready to hire <br />
                <span class="text-[#3296FF]">The Professionals?</span>
              </h2>

              <div
                class="block rounded-lg shadow-lg bg-white px-6 py-12 md:px-12"
              >
                <div class="mb-6">
                  <form class="" action="https://submit-form.com/a1kqloNd">
                    <div class="grid md:grid-cols-2 md:gap-6">
                      <div class="mb-6">
                        <label for="first name" class=""></label>
                        <input
                          type="text"
                          id="nameFirst"
                          name="nameFirst"
                          placeholder="First Name"
                          required=""
                          class="mb-2 form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                        />
                        <label for="last name" class=""></label>
                        <input
                          type="text"
                          id="nameLast"
                          name="nameLast"
                          placeholder="Last Name"
                          required=""
                          class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                        />
                      </div>
                    </div>

                    <label for="email" class=""></label>
                    <input
                      type="email"
                      id="email"
                      name="email"
                      placeholder="Email"
                      required=""
                      class="mb-2 form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                    />

                    <label for="message"></label>
                    <textarea
                      id="message"
                      name="message"
                      placeholder="Message"
                      required=""
                      class="mb-2 form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                    ></textarea>

                    <button class="btn btn-primary" type="submit">Send</button>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="mr-14 mb-12 lg:mb-0">
            <img
              src="/src/images/home/gutter-cleaning-5.webp"
              class="w-full h-full rounded-lg sshadow-lg"
              alt="gutter cleaning image"
            />
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Design Block -->
  </div>
</div>
