<section class="mb-32 text-center text-gray-800 lg:text-left">
  <div class="px-6 py-12 md:px-12">
    <div class="grid items-center lg:grid-cols-2 lg:gap-x-12">
      <div class="mb-12 lg:mb-0">
        <div class="block px-6 py-12 rounded-lg shadow-lg bg-accent md:px-12">
          <h2 class="my-10 text-5xl font-bold leading-tight tracking-tight">
            Are you ready to hire <br />
            <span class="text-[#3296FF]">The Professionals?</span>
          </h2>

          <div
            class="block px-6 py-12 mt-2 rounded-lg shadow-lg bg-base-100 md:px-12"
          >
            <div class="mb-6">
              <form action="https://submit-form.com/a1kqloNd">
                <div class="grid md:grid-cols-2 md:gap-6">
                  <div class="mb-6"></div>
                </div>

                <label for="full name"></label>
                <input
                  type="text"
                  id="fullName"
                  name="1-fullName"
                  placeholder="Full Name"
                  required=""
                  class="mb-2 form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                />

                <label for="telephone"></label>
                <input
                  type="tel"
                  id="telephone"
                  name="2-telephone"
                  placeholder="Telephone"
                  required=""
                  class="mb-2 form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                />

                <label for="email"></label>
                <input
                  type="email"
                  id="email"
                  name="3-email"
                  placeholder="Email"
                  required=""
                  class="mb-2 form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                />

                <label for="message"></label>
                <textarea
                  id="message"
                  name="4-message"
                  placeholder="Message"
                  required=""
                  class="mb-3 form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                ></textarea>
                <label for="checkbox"></label>
                <input
                  type="checkbox"
                  name="window-cleaning"
                  value="windowCleaning"
                /> Window Cleaning
                <br />
                <label for="checkbox"></label>
                <input
                  type="checkbox"
                  name="eaves-Cleaning"
                  value="eavesCleaning"
                /> Eavestrough Cleaning
                <br />
                <label for="checkbox"></label>
                <input
                  type="checkbox"
                  name="power-washing"
                  value="powerWashing"
                /> Power Washing
                <br />
                <label for="checkbox"></label>
                <input
                  type="checkbox"
                  name="eaves-repair"
                  value="eavesRepair"
                /> Repairs
                <br />

                <button class="mt-2 btn btn-primary" type="submit">Send</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="mb-12 mr-14 lg:mb-0">
        <img
          src="/scarborough-eavestrough-cleaning-logo.webp"
          class="w-full h-full rounded-lg sshadow-lg"
          alt="gutter cleaning image"
        />
      </div>
    </div>
  </div>
</section>
