---
import BaseHead from "../components/BaseHead.astro";

import NavBar from "../components/NavBar.astro";
import "@fontsource/nunito";

const { title, description } = Astro.props;
---

<html lang="en">
  <!--Main Head of Site -->

  <BaseHead title={title} />

  <!--NaveBar -->

  <NavBar />

  <body class="flex flex-col min-h-screen font-nunito bg-primary">
    <slot> Default Text</slot>
    <script src="/src/app.js"></script>
  </body>
</html>
